## Voron Design VORON 2.4R2 300mm with Spider config, Lecktor kit

[exclude_object]
[include mainsail.cfg]
[include leds.cfg]
#[include stealthburner_leds.cfg]
[include a4t_leds.cfg]

[include timelapse.cfg]
#[include KAMP_Settings.cfg]
#[include K-ShakeTune/*.cfg]
#[include config_backup.cfg]
#[include toolhead_btt_ebbcan_G0B1_v1.2.cfg]
#[include sb2209.cfg]
[include ebb36.cfg]
#[include autotune_tmc.cfg]
[include bedfans.cfg]

[include macros/macros.cfg]
[include macros/better-print-start.cfg]
[include macros/fan_tach_monitor.cfg]
[include macros/squiggly_purge.cfg]

#[include adxl/accel_kusba.cfg]
#[include adxl/accel_adxl.cfg]


[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_55002A001151383039343538-if00

[mcu cartographer]
canbus_uuid: 1fe9d72f53dc

[cartographer]
mcu: cartographer
x_offset: 0 # This is the offset of your probe from the nozzle tip, to the centre of the coil.
y_offset: 20 #21.5 alter Wert Dragon Ace This is the offset of your probe from the nozzle tip, to the centre of the coil.
verbose: yes # For extra output

[printer]
kinematics: corexy
max_velocity: 300  
max_accel: 4000			        #Max 4000
max_z_velocity: 15			    #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0

#####################################################################
#      X/Y Stepper Settings
#####################################################################

[stepper_x]
step_pin: PE11
dir_pin: PE10
enable_pin: !PE9
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:400  #set to 400 for 0.9 degree stepper
endstop_pin: can0:PB7
position_min: 0
position_endstop: 300
position_max: 300
homing_speed: 60   #Max 100
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: PE7
interpolate: True
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_y]
step_pin: PD8
dir_pin: PB12
enable_pin: !PD9
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:400  #set to 400 for 0.9 degree stepper
endstop_pin: ^PA2
position_min: 0
position_endstop: 300
position_max: 300
homing_speed: 60  #Max 100
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: PE15
interpolate: True
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
#   Z Stepper Settings
#####################################################################

##	Z0 Stepper - Front Left
[stepper_z]
step_pin: PD14
dir_pin: !PD13
enable_pin: !PD15
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
endstop_pin: probe:z_virtual_endstop
position_max: 230
position_min: -5
homing_speed: 8
second_homing_speed: 4
homing_retract_dist: 0

[tmc2209 stepper_z]
uart_pin: PD10
interpolate: False
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##	Z1 Stepper - Rear Left
[stepper_z1]
step_pin: PE6
dir_pin: PC13
enable_pin: !PE5
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z1]
uart_pin: PC14
interpolate: False
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##	Z2 Stepper - Rear Right
[stepper_z2]
step_pin: PE2
dir_pin: !PE4
enable_pin: !PE3
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z2]
uart_pin: PC15
interpolate: False
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##	Z3 Stepper - Front Right
[stepper_z3]
step_pin: PD12
dir_pin: PC4
enable_pin: !PE8
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z3]
uart_pin: PA15
interpolate: False
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

## Temperatur Sensoren

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor Chamber_Gantry_back]
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PC1

[temperature_sensor Chamber_front_left_bottom]
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PC2

[temperature_sensor Chamber_front_right_upper]
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PC3

[temperature_sensor Chamber_average]
sensor_type: temperature_combined
sensor_list: temperature_sensor Chamber_Gantry_back, temperature_sensor Chamber_front_left_bottom
combination_method: mean
maximum_deviation: 99

[temperature_sensor cartographer]
sensor_type: temperature_mcu
sensor_mcu: cartographer
min_temp: 5
max_temp: 105



#####################################################################
#   Bed Heater
#####################################################################

[heater_bed]
heater_pin: PC8
sensor_type: Generic 3950
sensor_pin: PB0 # TB Position
max_power: 0.6
min_temp: 0
max_temp: 120


#####################################################################
#	Fan Control
#####################################################################

[heater_fan controller_fan]
pin: PB3
max_power: 1
shutdown_speed: 0.0
kick_start_time: 5.0
heater: heater_bed
heater_temp: 60
fan_speed: 1.0

[heater_fan nevermore_fan]
pin: PB2
max_power: 0.8
shutdown_speed: 0.0
kick_start_time: 5.0
heater: heater_bed
heater_temp: 60
fan_speed: 1.0

#####################################################################
#	Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 9000

[safe_z_home]
home_xy_position:150,150
speed:30
z_hop:10
z_hop_speed: 5
   
[quad_gantry_level]
gantry_corners:
	-60,-10
	360,370
points:
	30,50
	30,250
	270,250
	270,50
speed: 200
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.0075
max_adjust: 10


[bed_mesh]
zero_reference_position: 150,150 # The centre of your bed. 
speed: 300
horizontal_move_z: 3
mesh_min: 30, 50 # The first probed coordinate, nearest to the origin. This coordinate is relative to the probe's location.
mesh_max: 270, 250 # The probed coordinate farthest from the origin. This is not necessarily the last point probed, as the probing process occurs in a zig-zag fashion. As with mesh_min, this coordinate is relative to the probe's location.
probe_count: 20, 20
adaptive_margin: 10
mesh_pps: 0,0 # Disable interpolation - mesh is probably dense enough


[virtual_sdcard]
path: ~/printer_data/gcodes
[display_status]
[pause_resume]


# Spoolman
[gcode_macro SET_ACTIVE_SPOOL]
gcode:
  {% if params.ID %}
    {% set id = params.ID|int %}
    {action_call_remote_method(
       "spoolman_set_active_spool",
       spool_id=id
    )}
  {% else %}
    {action_respond_info("Parameter 'ID' is required")}
  {% endif %}

[gcode_macro CLEAR_ACTIVE_SPOOL]
gcode:
  {action_call_remote_method(
    "spoolman_set_active_spool",
    spool_id=None
  )}


# BigTreeTech Smart Filamentsensor 2.0
[filament_switch_sensor switch_sensor]
switch_pin: ^PA0
pause_on_runout: True
runout_gcode:
  M117 Filament switch runout
insert_gcode:
  M117 Filament switch inserted

[filament_motion_sensor encoder_Sensor]
switch_pin: ^PB14
detection_length: 10
extruder: extruder
pause_on_runout: True
runout_gcode:
  M117 Filament encoder runout
insert_gcode:
  M117 Filament encoder inserted

#####################################################################
#	Input Shaper
#####################################################################

[resonance_tester]
accel_chip: adxl345
probe_points:
  150, 150, 20

#[shaketune]
# result_folder: ~/printer_data/config/ShakeTune_results
#    Path where the processed results will be stored. If the folder doesn't exist,
#    it will be automatically created. You can change this if you'd like to store 
#    results in a different location.
# number_of_results_to_keep: 10
#    This setting defines how many results you want to keep in the result folder.
#    Once the specified number is exceeded, older results will be automatically deleted
#    to free up space on the SD card and avoid cluttering the results folder.
# keep_raw_data: False
#    If set to True, Shake&Tune will store both the processed graphs and the raw accelerometer
#    .stdata files in the results folder. This can be useful for debugging or archiving purposes.
#    Please always attach them when reporting any issues on GitHub or Discord.
# show_macros_in_webui: True
#    Mainsail and Fluidd doesn't create buttons for system commands (macros that are not part
#    of the printer.cfg file). This option allow Shake&Tune to inject them into the webui at runtime.
#    If set to False, the macros will be hidden but still accessible from the console by typing
#    their names manually, which can be useful if you prefer to encapsulate them into your own macros.
# timeout: 600
#    This defines the maximum processing time (in seconds) to allows to Shake&Tune for generating 
#    graphs from a .stdata file. 10 minutes should be more than enough in most cases, but if you have
#    slower hardware (e.g., older SD cards or low-performance devices), increase it to prevent timeouts.
# measurements_chunk_size: 2
#    Each Shake&Tune command uses the accelerometer to take multiple measurements. By default,
#    Shake&Tune will write a chunk of data to disk every two measurements, and at the end of the
#    command will merge these chunks into the final .stdata file for processing. "2" is a very
#    conservative setting to avoid Klipper Timer Too Close errors on lower end devices with little
#    RAM, and should work for everyone. However, if you are using a powerful computer, you may
#    wish to increase this value to keep more measurements in memory (e.g., 15-20) before writing
#    the chunk and avoid stressing the filesystem too much.
# max_freq: 200
#    This setting defines the maximum frequency at which the calculation of the power spectral density
#    is cutoff. The default value should be fine for most machines and accelerometer combinations and
#    avoid touching it unless you know what you're doing.
# dpi: 300
#    Controls the resolution of the generated graphs. The default value of 300 dpi was optimized
#    and strikes a balance between performance and readability, ensuring that graphs are clear
#    without using too much RAM to generate them. Usually, you shouldn't need to change this value.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 37.572
#*# pid_ki = 1.094
#*# pid_kd = 322.652
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 28.126
#*# pid_ki = 1.674
#*# pid_kd = 118.130
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.002500, -0.005000, -0.017500, -0.015000, -0.027500
#*# 	0.018750, 0.011250, -0.011250, -0.018750, -0.031250
#*# 	0.026250, 0.008750, -0.006250, -0.012500, -0.022500
#*# 	0.016250, 0.008750, -0.003750, -0.003750, -0.016250
#*# x_count = 5
#*# y_count = 4
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 96.81
#*# max_x = 201.92999999999998
#*# min_y = 118.93
#*# max_y = 181.33
#*#
#*# [cartographer scan_model default]
#*# coefficients = 1.4642918188601137,1.8930704468080783,0.8030169761704429,0.44489194477459304,0.5379269843188395,0.33832582549732526,-0.384133907084123,-0.21339916554273433,0.3780410486454414,0.2386530141990165
#*# domain = 3.2075220652910746e-07,3.3583371798980336e-07
#*# z_offset = 0
#*# reference_temperature = 27.97
#*# software_version = 1.5.1
#*# mcu_version = CARTOGRAPHER 5.0.0
#*#
#*# [cartographer touch_model default]
#*# threshold = 1789
#*# speed = 2
#*# z_offset = -0.05
#*# software_version = 1.5.1
#*# mcu_version = CARTOGRAPHER 5.0.0
